.contentWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
}

@media (max-width: 870px) {
  .contentWrapper {
    grid-template-columns: minmax(0, 1fr);
  }
}
